.control-center {
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 10px;
    margin: 10px; /* Margin from screen edges */
    padding: 14px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.6);
}

.notification {
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 10px;
    margin: 6px 12px;
    padding: 10px;
}

.notification-body {
    color: #e0e0e0;
    font-size: 14px;
}